
.islandora-newspaper-list-item {
  clear: both;
  width: 100%;
}

.islandora-newspaper-list-item dl dt {
  clear: left;
  float: left;
  padding: 3px 0 0;
  text-align: center;
  width: 100px;
}

.islandora-newspaper-list-item dl dd {
  margin: 0 0 0 130px;
}

/* Grid - Displays grid using dl formatted inline */
.islandora-newspaper-grid dl
{
  width: 20%;
  min-width: 100px;
  min-height: 180px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 1.5em 1.84%;
  zoom: 1;
  *display: inline;
  _height: 180px;
}

.islandora-newspaper-grid dd
{
  margin: 0;
  padding: 0;
}

.islandora-newspaper-display-switch {
  float: right;
}